* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
}

.main-container {
  min-height: 60vh;
  color: #e9e9e9;
  background-image: url('./img/background-main-content.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}